body {
  text-align:auto;
}

th {
  text-align:auto;
}
.container {
  display: center; /* Enables flexbox layout for children */
  align-items: center; /* Aligns items to the top */
  
}

.side-left,
.side-right {
  width: 100px; /* Example width for the blank side divs */
  height: 100px; /* Example height for the blank side divs */
  
}

.main-content {
  flex-grow: 1; /* Allows the main content to take up remaining space */
  padding: 15px;
  border: 1px solid black;
}

